@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: "Montserrat";
}

header {
    height: 130px;
}

header img {
    display: flex;
    height: 100px;
    margin: auto;
}

main h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    color: #800000;
}

#email-box,
#senha-box,
#cpf-box,
#confirm-senha-box {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    border: 1px solid #FFBF00;
    padding: 10px;
    width: 280px;
    border-radius: 5px;
    height: 25px;
}

#email-box input,
#senha-box input,
#cpf-box input,
#confirm-senha-box input {
    display: flex;
    margin: auto;
    width: 280px;
    border: none;
    font-size: 16px;
    background-color: rgba(240, 248, 255, 0);
    justify-content: center;
    align-items: center;
    text-align: start;
}

#email-box label,
#senha-box label,
#cpf-box label,
#confirm-senha-box label {
    display: flex;
    justify-content: first baseline;
    font-size: 14px;
    padding-top: 2px;
}

#nomes-box {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

#nome-box {
    width: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FFBF00;
    height: 25px;
    text-align: center;
    justify-content: center;
}

#nome-box input, #sobrenome-box input {
    display: flex;
    margin: auto;
    width: 120px;
    border: none;
    font-size: 14px;
    background-color: rgba(240, 248, 255, 0);
    justify-content: center;
    align-items: center;
    text-align: start;
}

#nome-box label, #sobrenome-box label {
    display: flex;
    justify-content: first baseline;
    font-size: 14px;
    padding-top: 2px;
}

#sobrenome-box {
    width: 120px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    height: 25px;
    border: 1px solid #FFBF00;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}



#enter {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    width: 280px;
    height: 40px;
    background-color: #FFBF00;
    color: #800000;
    border: none;
    font-size: 15px;
}

a {
    font-style: none;
    list-style: none;
    text-decoration: none;
    color: #800000;
}

input {
    outline: none;
    background-color: #ffbf0000;
}

/* Remove estilos padrões ao focar no input */
input:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: inherit;
}

#cancel {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    width: 240px;
    height: 40px;
    background-color: #FFBF00;
    color: #800000;
    border: none;
    font-size: 15px;
}

.sucesso-container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    margin: auto;
    height: 1px;
    width: 100%;
}

.sucesso-msg {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.error-container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    margin: auto;
    height: 2px;
    width: 100%;
}

.error-msg {
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}

#view-password {
    display: flex;
}

#view-password-second {
    display: flex;
}

#n-view-button,
#n-view-button-second {
    background-color: #80000000;
}

#view-button,
#view-button-second {
    background-color: #80000000;
}

#message-error {
    text-align: center; 
    display: block; 
    color: red;
}