@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: "Montserrat";
}


header {
    height: 130px;
}

header img {
    display: flex;
    height: 100px;
    margin: auto;
    padding-top: 15px;
}

main h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    color: #800000;
}

#email-box,
#password-box {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    border: 1px solid #FFBF00;
    padding: 10px;
    width: 280px;
    border-radius: 5px;
    height: 25px;
}

#email-box input,
#password-box input {
    display: flex;
    margin: auto;
    width: 280px;
    border: none;
    font-size: 16px;
}

#email-box input:hover {
    border: none;

}

#email-box label,
#password-box label {
    display: flex;
    justify-content: first baseline;
    font-size: 14px;
}

#submit-btn {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 30px;
    width: 280px;
    height: 40px;
    background-color: #FFBF00;
    color: #800000;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

#sign-up,
#forgot-password {
    display: flex;
    margin: auto;
    margin-top: 30px;
    background-color: rgba(240, 248, 255, 0);
    color: #800000;
    border-style: none;
    font-size: 15px;
    cursor: pointer;
}


#forgot-password {
    margin-top: 2px;
}

a {
    font-style: none;
    list-style: none;
    text-decoration: none;
    color: #800000;
}

.error-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: auto;
    height: 50px;
    width: 100%;
}

.error-msg {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

#view-password {
    display: flex;
}

#n-view-button {
    background-color: #80000000;
}

#view-button {
    background-color: #80000000;
}