@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

hr {
    border: 0;
}

/*cabeçalho*/
.cabecalho, body {
    background-color: #f2ae44;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 110px;
}

.cabecalho-logo {
    width: 150px;
    height: 100%;
    padding-top: 16px;
}

/*menu*/
.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    position: relative;
}

.menu ul li a {
    color: #000;
    font-family: "Noto Sans Mono", monospace;
    font-size: 16px;
    padding: 12px;
    transition: background .3s;
}


.menu ul li a:hover {
    background-color: #6d4822;
    color: #fff;
}

/*SUB-MENU*/
.menu ul ul {
    display: none;
    position: absolute;
    width: 150px;
    left: 0;
    top: 26px;
    background-color: #f2ae44;
    z-index: 1;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul ul li a {
    display: block;
}

.menu ul ul li a:hover {
    background-color: #6d4822;
}

/*Banner Rotativo*/
.slider {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 300%;
    height: 350px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 1360px;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 550px;
}

/*pontinhos que acompanham a imagem*/
.manual-navigation, .navigation-auto {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 460px;
}

.manual-navigation {
    margin-top: 110px;
}

.manual-btn, .navigation-auto div {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child),
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover,
#radio1:checked~.navigation-auto .auto-btn1,
#radio2:checked~.navigation-auto .auto-btn2,
#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #fff;
}

/*O quanto cada imagem vai pra esquerda*/
#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -33.80%;
}

#radio3:checked~.first {
    margin-left: -67.70%;
}

/*Titulo das cervejas*/
main h1,
main h2 {
    text-align: center;
}

.tiposcerv {
    margin: auto;
    width: 1200px;
    height: 220px;
    display: flex;
    overflow-x: hidden;
}

.tiposcerv img {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    margin-left: 15px;
    border-radius: 8px;
}

/*Scroll horizontal das cervejas*/
.scroll-container {
    display: flex;
    flex-direction: row;
}

/*Botao para ver todas as opções de cerveja*/
.buttonmore {
    position: absolute;
    margin-left: 6.5%;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    background-color: #ff9900;
    color: #000;
    font-family: "Noto Sans Mono", monospace;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.buttonmore:hover {
    transform: translateY(-10px);
    background-color: #6d4822;
    color: #fff;
}

/*Banner Promoção*/
.banner {
    align-items: center;
    text-align: center;
}

.banner img {
    border-left: 14px solid #fff;
    width: 70%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    border-radius: 8px;
}

.buttonbanner {
    display: block;
    width: 150px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 15px;
    background-color: #ff9900;
    color: #000;
    font-family: "Noto Sans Mono", monospace;
    font-weight: bold;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.buttonbanner:hover {
    transform: translateY(-10px);
    background-color: #6d4822;
    color: #fff;
}

/*Cervejas mais vendidas*/
.estrelas {
    margin: 5% auto;
    text-align: center;
}

.estrelas img {
    margin: auto;
    display: block;
    width: 300px;
}

.estrelas h2 {
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans Mono", monospace;
    font-size: 36px;
    text-align: center;
}

.bebidastar img {
    width: 200px;
    border-radius: 8px;
    box-shadow: 5px 10px gray;
}

.estrelatopo {
    position: relative;
    left: 42.5%;
    bottom: 80px;
}

.estrelaesquerda {
    position: relative;
    left: 11.4%;
}

.estreladireita {
    position: relative;
    left: 28%;
}

/*Parte de baixo do site*/
footer {
    margin-top: 25px;
    background-color: #6d4822;
    height: 200px;
    width: 100%;
    text-align: center;
}

footer p {
    font-size: 16px;
}