@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: "Montserrat";
}

#navegation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 80px;
    width: 100%;
    background-color: #8b4513;
}

#navegation-bar p{
    font-size: 14px;
    color: #F5F5DC;
}

#profile-config {
    display: flex;
    margin-left: 35%;
    gap: 10px;
}

#name-account{
    padding-top: 5px;
    display: block;
    justify-content: center;
}

#account {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    color: #FFBF00;
    font-size: 14px;
}

#first-section {
    background-color: #FFBF00;
    height: 464px;
}

#first-section h1 {
    position: relative;
    top: 20%;
    text-align: center;
    font-size: 36px;
    color: #8b4513;
}

#beer-test {
    position: relative;
    top: 50%;
    left: 43%;
    color: #800000;
    font-size: 24px;
    background-color: #F5F5DC;
    border-radius: 25px;
    width: 180px;
    height: 50px;
}

#second-section-images {
    display: flex;
    margin: auto;
    width: 1200px;
    overflow-x: hidden;
}

#second-section-images div p {
    font-size: 14px;
}

#second-section-images div div {
    width: 170px;
    height: 100px;
    margin-bottom: 10px;
}

#second-section-images div a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#second-section-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#second-section-images div img{
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#second-section img {
    margin: auto;
    width: 50px;
    height: 80px;
}

#second-section h1{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 32px;
    font-weight: bold;
}

#button-back {
    background-color: rgba(255, 255, 255, 0);
    background-color: #FFBF00;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    position: absolute;
    left: 20px;
    top: 110%;
}

#button-back img {
    width: 30px;
    height: 30px;
}

#button-advance {
    background-color: rgba(255, 255, 255, 0);
    background-color: #FFBF00;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    position: absolute;
    right: 20px;
    top: 110%;
}

#button-advance img {
    width: 30px;
    height: 30px;
}

#third-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

#third-section img {
    width: 115px;
    height: 80px;
    display: flex;
    margin: auto;
}

#third-section h2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
}

#third-section p {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    color: #8b4513;
}

#account-details {
    background-color: #f1f1f1;
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0%; 
    right: 0%; 
    z-index: 1;
}

#account-details h1 {
    text-align: center;
    padding-top: 30px;
}

#button-close { 
    position: fixed;
    right: 0px;
}

.email-details {
    text-align: center;
    padding-top: 10px;
    color: gray;
}

.phone-details {
    text-align: center;
    color: gray;
}

#button-orders {
    margin-top: 70px;
    border: 1px solid gray;
    width: 100%;
    height: 70px;
    background-color: rgb(252, 248, 248);
}

#button-help {
    margin-top: 0px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    width: 100%;
    height: 70px;
    background-color: rgb(252, 248, 248);
}

#button-quit {
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    margin-top: 64%;
    background-color: rgb(252, 248, 248);
}

#account-details svg {
    padding: 10px;
}

#last-section, #last-section a {
    text-align: center;
    font-size: 14px;
    color: #800000;
    text-decoration: none;
    height: 20px;
    background-color: #FFBF00;
    padding: 10px;
    font-weight: 400;
}

#footer {
    background-color: #8b4513;
    height: 120px;
    margin: auto;
}

#footer p{
    text-align: center;
    margin: auto;
    color:#FFBF00;
    font-size: 16px;
    font-weight: bold;
    padding-top: 2%;
}
