@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

/*Cabeçalho*/
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f2ae44;
    height: 120px;

}

.cabecalho-logo {
    width: 150px;
    height: 150px;
    padding-top: 16px;
}

a {
    color: rgb(255, 255, 255);
    font-family: "Noto Sans Mono", monospace;
    font-size: 14px;
}

/*Menu*/
.menu ul {
    list-style: none;
    padding: 0px;
}

.menu ul li {
    display: inline;
    position: relative;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 12px;
    font-family: "Noto Sans Mono", monospace;
    font-size: 16px;
    transition: background .3s;
}

.menu ul li a:hover {
    background-color: #6d4822;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*SUB-MENU*/
.menu ul ul {
    display: none;
    position: absolute;
    width: 150px;
    left: 0;
    top: 26px;
    z-index: 1;
}

.menu ul li:hover ul {
    display: block;
    background-color: #f2ae44;
}

.menu ul ul li a {
    display: block;
}

.menu ul ul li a:hover {
    background-color: #6d4822;
}

hr {
    margin: 0;
    border: 0;
}

/*Colocar foto*/
.box {
    display: flex;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.m-2 {
    margin: 12px;
}

.p-4 {
    padding: 24px;
}

/**/
#form-form {
    .imagem-upload {
        position: relative;
        width: 125px;
        height: 125px;
        border: 2px solid #b87a16;
        border-radius: 70%;
        box-shadow: 4px 4px 12px #00000060;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background-color: white;
        margin-left: 18.5%;
        margin-top: 2%;
        margin-bottom: 10px;
        z-index: 2;
    }


    .imagem-upload img {
        object-fit: cover;
    }

    .imagem-upload i {
        position: absolute;
        margin: 0 auto;
        font-size: 20px;
        color: rgb(207, 98, 34);
    }

    #imagem-field {
        position: absolute;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    border: 0px;

}

#all {
    background-color: #f2ae44;
}

.box h2 {
    padding: 25px;
}

/* Estilos para o menu */
.menuvert {
    width: 200px;
    float: left;
    position: absolute;
    margin-top: 15%;
    margin-left: 16%;
    
}

.menuvert a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #f2ae44;
    border: 0.5px solid rgb(0, 0, 0);
}

.menuvert a:hover {
    background-color: #aa7622;
    color: white;
}

/* Estilos para a área de conteúdo */
.conteudo {
    margin-left: 180px;
}

/*Começo de Cada Input*/
#nome {
    position: absolute;
    margin-top: 6%;
}

#labelnome {
    position: absolute;
    margin-top: 7.5%;
    width: 500px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#sobrenome {
    position: absolute;
    margin-top: 10.3%;
}

#labelsobre {
    position: absolute;
    margin-top: 11.8%;
    width: 500px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#cpf {
    position: absolute;
    margin-top: 15%;
}

#labelcpf {
    position: absolute;
    margin-top: 16.5%;
    width: 200px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#data {
    position: absolute;
    margin-top: 15%;
    margin-left: 25%;
}

#labeldata {
    position: absolute;
    margin-top: 16.5%;
    margin-left: 25%;
    width: 164px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#button1 {
    margin-top: 22%;
    margin-left: 28.8%;
}

#cep {
    position: absolute;
    margin-top: 6%;
}

#labelcep {
    position: absolute;
    margin-top: 7.5%;
    width: 500px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#adress {
    position: absolute;
    margin-top: 10.3%;
}

#labeladress {
    position: absolute;
    margin-top: 11.8%;
    width: 500px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#numero {
    position: absolute;
    margin-top: 15%;
}

#labelnumero {
    position: absolute;
    margin-top: 16.5%;
    width: 200px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#complemento {
    position: absolute;
    margin-top: 15%;
    margin-left: 16%;
}

#labelcomplemento {
    position: absolute;
    margin-top: 16.5%;
    margin-left: 16%;
    width: 283px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#bairro {
    position: absolute;
    margin-top: 20%;
}

#labelbairro {
    position: absolute;
    margin-top: 21.5%;
    width: 200px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#cidade {
    position: absolute;
    margin-top: 20%;
    margin-left: 16%;
}

#labelcidade {
    position: absolute;
    margin-top: 21.5%;
    margin-left: 16%;
    width: 210px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#estado {
    position: absolute;
    margin-top: 20%;
    margin-left: 33.5%;
}

#labelestado {
    position: absolute;
    margin-top: 21.5%;
    margin-left: 33.5%;
    width: 45px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#button2 {
    margin-top: 27%;
    margin-left: 28.8%;
}

#cartao{
    position: absolute;
    margin-top: 6%;
}

#numeroCartao {
    position: absolute;
    margin-top: 7.5%;
    width: 250px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#titular {
    position: absolute;
    margin-top: 10.3%;
}

#nomeTitular {
    position: absolute;
    margin-top: 11.8%;
    width: 550px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#dataval {
    position: absolute;
    margin-top: 14.6%;
}

#dataValidade {
    position: absolute;
    margin-top: 16.1%;
    width: 180px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#codigo {
    position: absolute;
    margin-top: 14.6%;
    margin-left: 25%;
}

#codigoSeguranca {
    position: absolute;
    margin-top: 16.1%;
    margin-left: 25%;
    width: 210px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#button3 {
    margin-top: 20%;
    margin-left: 32.1%;
}

#senha {
    position: absolute;
    margin-top: 6%;
}

#inputsenha {
    position: absolute;
    margin-top: 7.5%;
}

#novasenha {
    position: absolute;
    margin-top: 12%;
}

#inputnova {
    position: absolute;
    margin-top: 13.5%;
}

#inputnova , #inputconfirme, #inputsenha  {
    position: absolute;
    width: 450px;
    height: 25px;
    border-radius: 8px;
    background-color: rgb(235, 233, 233);
}

#confirme {
    position: absolute;
    margin-top: 18%;
}

#inputconfirme {
    position: absolute;
    margin-top: 19.5%;
}

/*Fim dos inputs*/

/*Botoes*/
#button4, #button3, #button2, #button1 {
    position: absolute;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: #f2ae44;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans Mono", monospace;
    font-weight: bolder;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

#button4 {
    margin-top: 25%;
    margin-left: 25%;
}

#button4:hover, #button3:hover, #button2:hover, #button1:hover{
    transform: translateY(-10px);
    background-color: #6d4822;
    color: #fff;
}

/*linha vertical cinza*/
.linha-vertical {
    position: absolute;
    margin-left: 16%;
    height: 81.3%;/*Altura da linha*/
    width: 200px;
    border-left: 200px solid gray;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    z-index: -1;
  }
  