#acessibilidade {
    width: 100%;
    text-align: end;
    display: none;
}

#imgAcess {
    position: fixed;
    /* Fixa a div na tela */
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    /* Garante que a div ficará acima de outros elementos */
    cursor: pointer;
}

#imgAcess img {
    width: 50px;
}

#fonte,
#cor {
    display: inline-flex;
    gap: 25px;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 5px;
}

.alt-acess {
    width: 2lh;
    height: 2lh;
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
}

.alt-acess img {
    width: 1lh;
    height: 1lh;
}


/* Tema claro */
.tema-claro {
    --cor-fundo: white;
    --cor-texto: black;
    --cor-borda: black;
    --cor-banner: #FFBF00;
    --cor-botoes-ir: black;
}

/* Tema escuro */
.tema-escuro {
    --cor-fundo: rgb(24, 23, 23);
    --cor-texto: white;
    --cor-borda: white;
    --cor-banner: rgb(24, 23, 23);
    --cor-botoes-ir: white;
}

/* Aplicação de variáveis */
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.alt-acess {
    border: 1px solid var(--cor-borda);
    transition: border-color 0.3s ease;
}

#first-section {
    background-color: var(--cor-banner);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#first-section h1 {
    color: var(--cor-texto);
}

#button-advance:hover,
#button-back:hover {
    background-color: var(--cor-botoes-ir);
}

#main-container {
    border: 1px solid var(--cor-borda);
    background-color: var(--cor-fundo);
}

#second-section-images div a,
#second-section h1 {
    color: var(--cor-texto);
}

#form-left {
    border: 1px solid var(--cor-borda);
    box-shadow: 0 8px 16px rgba(209, 202, 202, 0.2);
    /* Cria um efeito de elevação */
    transition: box-shadow 0.3s ease-in-out;
    /* Animação suave ao aplicar hover */
}

.pergunta-titulo {
    color: var(--cor-texto);
}

tbody tr:nth-child(odd) {
    background-color: var(--cor-fundo);
}

table {
    border: 1px solid var(--cor-borda);
}

#titulo-account {
    color: black;
}

#change-data-details div label {
    color: black;
}