@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: "Montserrat";
}

#navegation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 80px;
    width: 100%;
    background-color: #8b4513;
}

#navegation-bar p {
    font-size: 14px;
    color: #F5F5DC;
}

#profile-config {
    display: flex;
    margin-left: 35%;
    gap: 10px;
}

#name-account {
    padding-top: 5px;
    display: block;
    justify-content: center;
}

#account {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    color: #FFBF00;
    font-size: 14px;
}

#account:hover {
    color: white;
}

#change-data-inputs {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
}

#change-data-inputs div {
    display: flex;
    flex-direction: column;
}

#change-data-inputs .picture {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

#save-data-changes {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    color: #800000;
    font-size: 16px;
    font-weight: bolder;
    background-color: #FFBF00;
    border-radius: 25px;
    width: 180px;
    height: 35px;
}

#save-data-changes:hover {
    background-color: #8b4513;
    color: white;
}

#change-data-inputs label {
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#change-data-inputs input {
    height: 20px;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
}

#account-details,
#change-data-details {
    background-color: #f1f1f1;
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1;
}

#profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.picture {
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px auto;
    color: var(--color-marron);
    overflow: hidden;
    position: relative;
}

.picture_img {
    max-width: 100%;
    max-height: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    /* Mantém proporções da imagem */
}

#picture_input {
    display: none;
    /* Oculta o input de arquivo */
}

#account-details h1,
#change-data-details h1 {
    text-align: center;
    padding-top: 10%;
}

#button-close,
#button-back-details {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.email-details {
    text-align: center;
    padding-top: 10px;
    color: gray;
}

.phone-details {
    text-align: center;
    color: gray;
}

#change-data {
    display: flex;
    text-align: center;
    padding-top: 30px;
    color: #FFBF00;
    margin: auto;
    justify-content: center;
    cursor: pointer;
}

#change-data:hover {
    color: #8b4513;
}

#button-quit {
    position: absolute;
    bottom: 2px;
    width: 100%;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    transition: tranform 0.3s ease-in-out;
}

#button-quit:hover {
    transform: translateY(-5px);
    /* Movimento suave ao hover */
}

#button-quit a {
    display: flex;
    justify-content: center;
    /* Centraliza a imagem e o texto no link */
    align-items: center;
    /* Centraliza verticalmente a imagem e o texto */
    text-decoration: none;
    color: black;
}

#img-quit img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    /* Espaço entre a imagem e o texto */
}

#account-details svg {
    padding: 10px;
}

/* Upload foto de perfil */
#picture_input {
    display: none;
}

.picture {
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px auto;
    color: var(--color-marron);
    outline: none;
    overflow: hidden;
}

.picture_img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    outline: none;
    overflow: hidden;
}

#last-section,
#last-section a {
    text-align: center;
    font-size: 14px;
    color: #800000;
    text-decoration: none;
    background-color: #FFBF00;
    padding: 10px;
    font-weight: 400;
}

#footer {
    background-color: #8b4513;
    height: 100px;
    width: 100%;
    position: relative;
    /* Deixe o footer posicionado de forma normal */
    margin-top: 40px;
}

#footer p {
    text-align: center;
    margin: auto;
    color: #FFBF00;
    font-size: 16px;
    font-weight: bold;
    padding-top: 2%;
}

.error-container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    margin: auto;
    height: 10px;
    width: 100%;
}

.error-msg {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.success-container {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    margin: auto;
    height: 10px;
    width: 100%;
}

.success-msg {
    background-color: green;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    width: 400px;
    border-radius: 18px;
    opacity: 1;
    /* Visível inicialmente */
    transform: translateY(0);
    /* Posição inicial */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.success-msg.hidden {
    opacity: 0;
    /* Torna invisível */
    transform: translateY(-20px);
    /* Move para cima enquanto desaparece */
}