@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    border: 0;
    font-family: "Montserrat";
}

#navegation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 80px;
    width: 100%;
    background-color: #8b4513;
}

#navegation-bar p {
    font-size: 14px;
    color: #F5F5DC;
}

#profile-config {
    display: flex;
    margin-left: 35%;
    gap: 10px;
}

#name-account {
    padding-top: 5px;
    display: block;
    justify-content: center;
}

#account {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    color: #FFBF00;
    font-size: 14px;
}

#first-section {
    display: flex;
    flex-direction: column;
    background-color: #FFBF00;
    height: 464px;
}

#first-section h1 {
    position: relative;
    top: 20%;
    text-align: center;
    font-size: 36px;
    color: #8b4513;
}

#beer-test button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    color: #800000;
    font-size: 18px;
    font-weight: bolder;
    background-color: #F5F5DC;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    position: relative;
    top: 200px;
}

#beer-test button:hover {
    background-color: #8b4513;
    color: white;
}


#second-section-images {
    display: flex;
    margin: auto;
    width: 1200px;
    overflow-x: hidden;
    z-index: -1;
}

#second-section-images div p {
    font-size: 16px;
}

#second-section-images div div {
    width: 170px;
    height: 100px;
    margin-bottom: 10px;
}

#second-section-images div a {
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#second-section-images div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#second-section-images div img {
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}


#second-section button {
    background-color: rgba(255, 255, 255, 0);
    background-color: #FFBF00;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

#second-section img {
    width: 70px;
    height: 100px;
}

#second-section h1 {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 32px;
    font-weight: bold;
}

#button-back {
    background-color: rgba(255, 255, 255, 0);
    background-color: #FFBF00;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    position: relative;
    top: 60px;
    left: 10px;
}

#button-back:hover {
    background-color: black;
}

#button-back img {
    width: 30px;
    height: 30px;
}

#button-advance {
    background-color: rgba(255, 255, 255, 0);
    background-color: #FFBF00;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    position: relative;
    top: 60px;
    left: 92%;
}

#button-advance:hover {
    background-color: black;
}

#button-advance img {
    width: 30px;
    height: 30px;
}

#third-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

#third-section img {
    width: 115px;
    height: 80px;
    display: flex;
    margin: auto;
}

#third-section h2 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
}

#third-section p {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    text-align: center;
    margin: auto;
    font-size: 16px;
    color: #8b4513;
}

#change-data-inputs {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: auto;
}

#change-data-inputs div {
    display: flex ;
    flex-direction: column;
}

#change-data-inputs .picture {
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

#save-data-changes {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
    color: #800000;
    font-size: 16px;
    font-weight: bolder;
    background-color:#FFBF00;
    border-radius: 25px;
    width: 180px;
    height: 35px;
}

#save-data-changes:hover {
    background-color: #8b4513;
    color: white;
}

#change-data-inputs label {
    align-self: flex-start; 
    margin-left: 10px;
    margin-bottom: 5px; 
    font-weight: bold; 
}

#change-data-inputs input {
    height: 20px;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 20px; 
    padding-left: 10px; 
}

#account-details, #change-data-details {
    background-color:#f1f1f1;
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1;
}

#profile-photo {
    width: 150px;
    height: 150px;
    border-radius:50%;
    border: 1px solid black;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.picture {
    background-color: white;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
    margin: 10px auto;
    color: var(--color-marron);
    overflow: hidden;
    position: relative;
}

.picture_img {
    max-width: 100%;
    max-height: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* Mantém proporções da imagem */
}

#picture_input {
    display: none; /* Oculta o input de arquivo */
}

#account-details h1, #change-data-details h1 {
    text-align: center;
    padding-top: 10%;
}

#button-close, #button-back-details {
    position: fixed;
    right: 5px;
    top: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.email-details {
    text-align: center;
    padding-top: 10px;
    color: gray;
}

.phone-details {
    text-align: center;
    color: gray;
}

#change-data {
    display: flex;
    text-align: center;
    padding-top: 30px;
    color: #FFBF00;
    margin: auto;
    justify-content: center;
    cursor: pointer;
}

#change-data:hover {
    color: #8b4513;
}

#button-quit {
    position: absolute;
    bottom: 2px;
    width: 100%;
    bottom: 10px;
    justify-content: center;
    align-items: center;
    transition: tranform 0.3s ease-in-out;
}

#button-quit:hover {
    transform: translateY(-5px);
    /* Movimento suave ao hover */
}

#button-quit a {
    display: flex;
    justify-content: center;
    /* Centraliza a imagem e o texto no link */
    align-items: center;
    /* Centraliza verticalmente a imagem e o texto */
    text-decoration: none;
    color: black;
}

#img-quit img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    /* Espaço entre a imagem e o texto */
}

#account-details svg {
    padding: 10px;
}




#last-section,
#last-section a {
    text-align: center;
    font-size: 14px;
    color: #800000;
    text-decoration: none;
    background-color: #FFBF00;
    padding: 10px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #800000;
}

#footer {
    background-color: #8b4513;
    height: 120px;
    margin: auto;
}

#footer p {
    text-align: center;
    margin: auto;
    color: #FFBF00;
    font-size: 16px;
    font-weight: bold;
    padding-top: 2%;
}

@media screen and (max-width: 768px) {
    /* Ajustes gerais para telas menores */


    #profile-config {
        margin-left: 0;
        gap: 5px;
    }

    #first-section h1 {
        font-size: 24px;
    }

    #beer-test {
        font-size: 18px;
    }

    #second-section {
        padding: 15px;
        margin: auto;
        text-align: center;
    }

    #second-section h1 {
        font-size: 24px;
        margin-left: 0;
    }

    #second-section-images {
        width: 100%;
        padding: 0 10px;
        overflow-x: scroll;
    }

    #second-section-images div {
        width: 100%;
        margin-bottom: 20px;
    }

    #third-section {
        display: flex;
        flex-direction: column;
    }

    #third-section img {
        width: 80px;
        height: 60px;
    }

    #third-section p {
        width: 90%;
        padding: 0 10px;
    }

    #account-details {
        width: 100%;
        height: 100%;
    }

    #footer p {
        font-size: 12px;
    }

    /* Ajuste de botões de navegação de produtos */
    #button-advance,
    #button-back {
        left: auto;
        top: auto;
        position: relative;
        margin: 10px auto;
    }
}

@media screen and (min-width: 1366px) {

    /* Ajustes para telas maiores que 1360px */
    #navegation-bar {
        padding: 0 20px;
    }

    #second-section-images {
        width: 1400px;
    }

    #second-section h1 {
        font-size: 40px;
    }

    #third-section h2 {
        font-size: 32px;
    }

    #third-section p {
        font-size: 18px;
    }

    #footer p {
        font-size: 18px;
    }

    #last-section {
        font-size: 18px;
    }
}